:root {
  --color-dark: green;
  --color-light: white;
  --color-text: black;
  --color-div: rgb(40, 40, 40);
  --color-button: #686868;
}
body {
  overflow: hidden;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

main {
  background-color: beige;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.white-text {
  color: white;
  position: absolute;
  top: 40%;
  text-wrap: nowrap;
  background-color: rgba(0, 0, 0, 0.599);
  padding: 1rem;
  border-radius: 5px;
}
.black-text {
  color: black;
  position: absolute;
  top: 40%;
  text-wrap: nowrap;
  background-color: rgba(255, 255, 255, 0.636);
  padding: 1rem;
  border-radius: 5px;
}
.flex-container {
  background-color: var(--color-div);
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
article {
  position: relative;
}
.chessboard {
  border-collapse: collapse;
  padding: 0;
  margin: 0;
  width: 95vh;
  height: 95vh;
}
.chessboard td {
  width: 12.5%;
  border: 1px solid black;
  position: relative;
  /* transform: rotate(0deg); */
}

.invisible {
  display: none;
}
.win {
  position: absolute;
  width: 40vw;
  height: 40vh;
  border-radius: 20px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
  z-index: 10;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: gray;
}
.promotion-white {
  position: absolute;
  width: 40vw;
  height: 40vh;
  border-radius: 20px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
  z-index: 10;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: gray;
}
.promotion-white table {
  border-collapse: collapse;
  width: 100%;
  height: 80%;
  margin: 80 auto 0 auto;
}
.promotion-black {
  position: absolute;
  width: 40vw;
  height: 40vh;
  border-radius: 20px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  background-color: rgb(255, 255, 255);
  z-index: 10;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: gray;
}
.promotion-black table {
  border-collapse: collapse;
  width: 100%;
  height: 80%;
  margin: 80 auto 0 auto;
}
.center-text {
  font-size: 3rem;
  position: absolute;
  top: 15%;
  left: 5%;
}
.win p {
  position: absolute;
  bottom: 10%;
  left: 15%;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  z-index: 8;
}
.close {
  position: absolute;
  top: 0;
  right: 1rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
.flip,
.reset {
  display: block;
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 3rem;
  color: var(--color-button);
  cursor: pointer;
  border: none;
  background: none;
  box-shadow: 1px 1px 0px black;
}
.left,
.right {
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 3rem;
  color: var(--color-button);
  cursor: pointer;
  border: none;
  background: none;
  box-shadow: 1px 1px 0px black;
  z-index: 7;
}
.turn{
  display: inline;
  font-size: 3rem;
  color: var(--color-button);
}
.score-white, .score-black {
  display: inline;
  font-size: 3rem;
  color: var(--color-button);
  position: relative;
  top: 14rem;
}
.colors {
  position: relative;
  right: 59rem;
  top: -28rem;
  margin-top: 5rem;
  font-size: 2rem;
  color: var(--color-button);
}
.color-pick {
  display: flex;
  flex-direction: column;
}
.flip:active,
.reset:active,
.left:active,
.right:active,
.player-2 button:active {
  box-shadow: -3px -3px 3px black;
}
.player-2 {
  position: absolute;
  bottom: 8vh;
  left: 0.5rem;
  display: flex;
  height: 4rem;
}
.player-2 button {
  position: relative;
  top: 1rem;
  font-size: 2rem;
  text-wrap: nowrap;
  color: var(--color-button);
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
  box-shadow: 1px 1px 0px black;
}
.player-2 p {
  font-size: 2rem;
  text-wrap: nowrap;
  color: rgb(179, 0, 0);
  background: none;
  height: 5rem;
  margin-left: 0.5rem;
}
.rotated {
  transform: rotate(180deg);
  transition: transform 1s;
}
.rotated-full {
  transform: rotate(0deg);
  transition: transform 1s;
}

@media screen and (max-width: 1100px) {
  body,
  main {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  .chessboard {
    width: 80vw;
    height: 80vw;
  }
  .flex-container {
    display: grid;
    grid-template-rows: 1fr 2fr;
    height: 100vh;
    width: 100vw;
  }
  .win {
    width: 80vw;
    height: 60vh;
  }
  article {
    text-align: center;
    height: 100%;
  }
  .white-text,
  .black-text {
    top: 0;
  }
  .flip {
    margin-top: 5rem;
  }
  .player-2 {
    bottom: 0;
    right: 0;
  }
  .colors {
    font-size: 1rem;
    position: absolute;
    top: 6rem;
    right: 1rem;
    margin: 0;
    width: fit-content;
  }
  .color-pick {
    margin-top: 0.5rem;
    display: flex;
    align-items: flex-end;
  }
  .center-text {
    font-size: 5rem;
    margin-top: 2rem;
  }
  .win {
    font-size: 1rem;
  }
}

@media screen and (max-width: 700px) {
  .chessboard {
    margin-top: 0.5rem;
    width: 100vw;
    height: 100vw;
  }
  .left {
    position: relative;
    left: 4rem;
    bottom: 4rem;
  }
  .right {
    position: relative;
    left: 4rem;
    bottom: 4rem;
  }
  .turn {
    position: relative;
    top: -4rem;
    left: -7.5rem;
  }
  .score-white{
    position:absolute;
    top: 13rem;
    right: 1rem;
  }
  .score-black{
    position:absolute;
    top: 16.5rem;
    right: 1rem;  
  }
  .player-2 {
    position: relative;
    top: -3rem;
    left: 0.5rem;
  }
  .colors {
    font-size: 1rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }
  .center-text {
    font-size: 2.5rem;
    margin-top: 2rem;
  }
  .close {
    font-size: 3rem;
  }
  .win {
    font-size: 1rem;
    height: 25vh;
  }
  .rotated {
    transform: rotate(0deg);
    /* transition: transform 1s; */
  }
  .rotated-cells{
    transition: transform 0s;
  }
}

tr.even td:nth-child(2n) {
  background-color: var(--color-dark);
}
tr.even td:nth-child(odd) {
  background-color: var(--color-light);
}
tr.odd td:nth-child(odd) {
  background-color: var(--color-dark);
}
tr.odd td:nth-child(2n) {
  background-color: var(--color-light);
}

.wpawn {
  background-image: url(./img/wpawn.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.wrook {
  background-image: url(./img/wrook.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.wbishop {
  background-image: url(./img/wbishop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.wknight {
  background-image: url(./img/wknight.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.wqueen {
  background-image: url(./img/wqueen.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.wking {
  background-image: url(./img/wking.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.bpawn {
  background-image: url(./img/bpawn.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.brook {
  background-image: url(./img/brook.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.bbishop {
  background-image: url(./img/bbishop.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.bknight {
  background-image: url(./img/bknight.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.bqueen {
  background-image: url(./img/bqueen.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.bking {
  background-image: url(./img/bking.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.attacker::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(200, 0, 183, 0.415);
  z-index: 1;
}
.en-passant::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(232, 240, 5, 0.738); */
  z-index: 1;
}

.selected::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 229, 255, 0.519);
  z-index: 1;
}

.legal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(5, 240, 68, 0.805);
  z-index: 1;
}
.capture::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 142, 5, 0.805);
  z-index: 1;
}

.check::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 5, 5, 0.805);
  z-index: 1;
}

.promotion::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(238, 255, 0, 0.805);
  z-index: 1;
}
.en-passant-invisible::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(52, 52, 52, 0.805); */
  z-index: 1;
}

.rotated-cells{
  transform: rotate(180deg);
  transition-delay: 0.3s;
}
